* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  */
  body{
    font-family: poppins, sans-serif;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    /*background: black;*/
    overflow: hidden;
  }

  nav {
    position: fixed;
    width: 100vw;
    padding: 2rem;
    display: flex;
    align-items: center;
    z-index: 2;
  }

  nav p, footer p {
    color: aliceblue;
    font-size: 12px;
  }

  nav > div {
    flex: 1;
  }

  .menu-btn p {
    width: max-content;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    padding: 6px 12px;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .local-time {
    display: flex;
    justify-content: center;
  }

  .logo a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  .items {
    position: fixed;
    width: 30%;
    height: 100vh;
    padding:  0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }

  .item {
    max-width: max-content;
    padding:  o.25rem 0;
    cursor: pointer;
  }
  .item p {
    margin: 5px;
    color: aliceblue;
    padding: 6px 12px;
    font-weight: lighter;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid  rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    transition: 0.3ms;
  }
  .item p:hover {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  .preview {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    color: #fff;
    z-index: 0;
  }
  .preview-bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .preview-title h1 {
     font-weight: lighter;
     font-size: 80px;
  }

  .preview-tag p, .preview-description p {
    font-size: 14px;
    line-height: 120%;
  }

  .preview-variant-1 .preview-img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2rem;
    width: 300px;
    height: 400px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  